# PyYel DevOps
pyldev @ git+https://github.com/PyYel/PyYel-DevOps.git@main

# PyYel CloudOps
pylcloud @ git+https://github.com/PyYel/PyYel-CloudOps.git@main

# PyYel MLOps
pylml @ git+https://github.com/PyYel/PyYel-MLOps.git@main
